[2020-07-26 15:46] dojero opened #1 "Google wants certificate verification"
* deep_translator version: 1.0.6
* Python version: 3.8.3
* Operating System: Linux

### Google gives warning before response

Request any translation from GoogleTranslate and the response comes back:

Warning: Unverified HTTPS request is being made to host 'translate.google.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#

[2020-07-26 16:27] nidhaloff commented on #1
Thanks for the feedback. I solved the issue and published a new [release](https://pypi.org/project/deep-translator/1.0.7/) v1.0.7 on pypi

[2020-07-26 16:27] #1 closed

[2020-07-26 22:04] dojero commented on #1
Works perfectly now. Very nicely done program.

Thanks.
________________________________
From: Nidhal Baccouri <notifications@github.com>
Sent: Sunday, July 26, 2020 4:27 PM
To: nidhaloff/deep_translator <deep_translator@noreply.github.com>
Cc: dojero <randcoop@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [nidhaloff/deep_translator] Google wants certificate verification (#1)

Than

[2020-08-03 17:03] nidhaloff opened #2 "Mymemory auto detection doesn't work"
* deep_translator version: 1.1.0
* Python version: 3.8
* Operating System: OSX

### Description

Auto language detection of the MyMemoryTranslator is not working.

[2020-08-03 18:25] nidhaloff commented on #2
issue solved -> release 1.1.2

[2020-08-03 18:25] #2 closed

[2020-08-04 08:51] Chouchen opened #3 "Add Deepl"
[Deepl](https://www.deepl.com/translator) should be added to this app to be more awesome!

[2020-08-04 10:35] nidhaloff commented on #3
Great idea! Thanks for the suggestion. I don't have much free time at the moment but I will work on this ;)
Alternatively, contributions are always welcome :smile:
PS: notice that the deep_translator is a **free and unlimited** translation tool. If deepl is not free or provide a limited API, then it can not be integrated here :/

[2020-08-04 18:21] mphirke commented on #3
Deepl API requires their pro (paid) plan, although it is unlimited.

[2020-08-04 19:20] mphirke opened #4 "[enhancement] Auto translate language return"
Currently, there is no way to find out what the auto translated language was...which makes it kind of iffy. I'd like to know what language it automatically detected. I understand that currently the scraping is done of mobile site, and I looked into it but it does not show detected language anywhere unfortunately. Are there any plans to enhance the scraping to scrape from the classic Google Transla

[2020-08-04 19:36] nidhaloff commented on #4
Thnx, Sounds good. I will work on it

[2020-08-04 21:05] nidhaloff commented on #3
@mphirke Thanks, I just checked out and you are right. I'm aiming to keep the package free, therefore the deepl paid service doesn't belong here.

@Chouchen Sorry I can't integrate deepl for these reasons, but maybe it could be developed as an extra tool

[2020-08-04 21:06] #3 closed

[2020-08-05 16:17] nidhaloff commented on #4
@mphirke I checked this out yesterday and today. It can't be done without adding a dependency or a paid service. I managed to find a work around, where the user can get a free api_key and use it. Therefore, I implemented a basic language detection functionality and added it to the new version/release. Feel free to use it and read more in the docs

[2020-08-06 11:43] prataffel opened #6 "Pons translator only returns the first word"
* deep_translator version: 1.1.3
* Python version: 3.8.5
* Operating System: Linux

### Description

The Pons translator only returns the first word of the translation - even if the first entry of the list of all results contains multiple words.

### What I Did

`deep_translator.PonsTranslator(source='german', target='english').translate('laufen')` returns `'to '` (expected would be 'to run' which

[2020-08-06 16:32] nidhaloff commented on #6
Thanks for noticing this. I will work on fixing it ;)

[2020-08-06 18:11] nidhaloff commented on #6
Fixed in the new release == **1.1.4**

[2020-08-06 18:11] #6 closed

[2020-08-06 18:18] nidhaloff opened #7 "Integrate more translators"
* deep_translator version: >=1.0.0
* Python version: >=3

### Description

I'm opening this issue for new comers. If you want to contribute to the project, then this is a good issue/enhancement to start with. Hopefully you know that the goal of the project is to integrate many translators in one tool.

Until now, the google, pons, linguee and mymemory translators are integrated. Feel free to come

[2020-08-06 18:22] nidhaloff opened #8 "add more examples and test cases"
* deep_translator version: >= 1.0.0
* Python version: >=3

### Description

This is a first good issue/enhancement for new comers. It would great to start documenting more examples.
Moreover, it would be great to write more tests.

Just check the examples and tests folder to have an idea. This issue/enhancement **is a great start for new comers to contribute** to the project.

[2020-08-07 08:57] prataffel opened #9 "Linguee translator adds pronouns (+ case) without spaces"
* deep_translator version: 1.1.4
* Python version: 3.8.5
* Operating System: Linux

The Linguee translator adds pronouns and possible information about correct cases to the translation without spaces.

`deep_translator.LingueeTranslator("de", "en").translate("programmieren")` returns `'programsth.'`
`deep_translator.LingueeTranslator("en", "de").translate("program", return_all=True)` returns `['Pr

[2020-08-07 20:08] #9 closed

[2020-08-07 20:14] nidhaloff commented on #9
@prataffel Thanks, great work.

It appears that this happens in some cases. I'm sure there are some other special cases that can expose a weird behavior. I will try to add tests when I have more free time.

[2020-08-08 22:42] djhenderson opened #11 "PonsTranslator raises IndexError translating arabic to english"
* deep_translator version: 1.1.5
* Python version: Python 3.9.0b5
* Operating System: Win 10 Pro

### Description

I am trying to translate an arabic sentence to english.
I believe this was working, or at least not raising an exception with version 1.1.4.
The arabic sentence `آخُذ اَلْباص.` should translate to something like `I take the bus.`.

Note: this form is rendering the FULL_STOP at the rig

[2020-08-08 23:28] djhenderson commented on #11
Here are the details of the string I am trying to translate:
[code]

[2020-08-09 09:02] nidhaloff commented on #11
Thanks for opening this issue and the detailed description. I don't think this issue is caused by the package per se. I guess the PONS translator https://en.pons.com/translate can't translate that sentence from arabic to english too. However, it's very interesting

The deep-translator package is using the translators under the hood by sending API requests. So if something can't be done with the PO

[2020-08-09 19:16] nidhaloff opened #13 "translate documentation to other languages"
### Description

This is a great starting point for new comers that wish to contribute to the project. Translating the docs to other languages would be a great help.

[2020-08-10 13:00] senk8 commented on #13
Hello. I can translate documentation to Japanese.Can I work on this issue?

[2020-08-10 13:09] nidhaloff commented on #13
@senk8 Thanks for joining the project. Of course you are very welcome to work on this ;)

[2020-08-12 20:42] djhenderson commented on #11
The error remains:
[code]
This coded fails when `return_all` is False, and word_list is an empty list.

The more basic problem is that the PONS online translator does not translate 'arabic' to anything other than 'german'.

This makes me suspect that the dictionary API does not either. When I run it on each word in a sentence instead of the who;e sentence, as I do with the other translators, it fa

[2020-08-13 07:06] nidhaloff commented on #11
@djhenderson Excatly, That error was fixed in release 1.1.6 thanks to you who noticed this issue. The actual release is 1.1.7 where I added the simple and batch language detection features ;)

Like you said, the pons translator have some limitations especially with the arabic language. Therefore, you may try to use google translate or mymemory. The example with the word **source_word='صَفّ'** is a

[2020-08-15 14:26] nidhaloff commented on #11
I will close the issue since it was resolved in the new release ;)

[2020-08-15 14:26] #11 closed

[2020-08-17 23:05] ecuracosta opened #19 "Text translation that once worked now does not work"
* deep_translator version: 1.1.7
* Python version: 3.8.3
* Operating System: Manjaro 20.0.3

I'm trying to semi-automatize an HTML page using BeautifulSoup.
I was very happy with deep-translator until something strange happened...

It rises 'TranslationNotFound' with some text that was already working!

[code]

Traceback:

[code]

Maybe I exceeded the max translations allowed? It should be unlimit

[2020-08-18 01:56] ecuracosta commented on #19
Now it's working again!!! But I did nothing.

[2020-08-18 05:53] nidhaloff commented on #19
@ecuracosta Thanks for opening the issue. The translations are definitely unlimited (that is also the goal of the package) so that's not the problem. The max characters allowed in the google translator are 5000. So your text length is fine in this case since it does not exceed the limit. Therefore, I'm guessing this have nothing to do with the package per se.

Notice that this can happen during th

[2020-08-18 12:14] ecuracosta commented on #19
Good to know it help! Thanks for your work, deep_translator is great!!!

[2020-08-18 18:17] nidhaloff commented on #19
@ecuracosta Thanks I appreciate it. I released a new version where I added a check on request status code and other checks on text length in order to validate the inputs.

Like I said in your case, I'm certain that the issue is due to some connections problem and therefore the request was not successful. If it happens now, the deep_translator will throw an **RequestError** and request you to check

[2020-08-18 18:17] #19 closed

[2020-08-20 10:38] nidhaloff commented on #13
@senk8 Are you working further on providing the ja translation in the docs?

[2020-08-20 10:56] nidhaloff opened #20 "suggestions for famous translators that you would like to have in the deep_translator"
### Description

I'm opening this thread to discuss the possibility to integrate more translators. We can discuss here which famous translators you want to have in this tool. Why and which translators are you using the most and whether you have ideas to improve the project.

[2020-08-20 17:27] senk8 commented on #13
No,I'm not. Have this problem solve?
https://github.com/nidhaloff/deep_translator/pull/17#issuecomment-675641766

[2020-08-21 02:18] ecuracosta commented on #19
Sorry for reopening. Definitely not a connection problem.
This is happening when I do to much requests.
I tried with a VPN but the problem remains.
If I wait some time and then try again, it works.

Any idea?

[2020-08-24 02:56] ecuracosta commented on #19
VPN works. But it won't do the job in my case, I'll go for your delay suggestion, many thanks!

[2020-09-10 19:50] nidhaloff opened #22 "update deep-translator's cli"
### Description

The cli functionality needs to be updated since more translators are now integrated. This is a fair easy issue for new comers to help people contribute to the project.

PS: consider using click https://click.palletsprojects.com/en/8.0.x/

[2020-09-10 20:36] nidhaloff opened #23 "extend the docs"
### Description

extend and improve the docs

[2020-09-13 04:55] foubou commented on #20
Hi, congratulations for this tool, and thank you for your hard work!
I wanted to know if your program allows to translate automatically a XLS sheet with DeepL? (I have an API key).
I need something like that : https://www.excel-text-translator.com/index.html
Thank you for your reply!

[2020-09-14 14:50] nidhaloff commented on #20
@foubou Thanks for your words ;). There is (at the moment) no function to translate XLS files. However, implementing this is not complex. If you read the file with a tool like [Pandas](https://pandas.pydata.org/) and parse the values in the specific column you want to translate to a text array, then it should be easy to automate the translations using the deep-translator.

I'm very busy at the mom

[2020-10-01 20:01] #7 closed

[2020-10-01 20:01] #8 closed

[2020-10-01 20:02] #13 closed

[2020-10-09 02:26] ecuracosta commented on #19
Sorry I reopened again, but using "sleep" with the quota limits that you showed is not working for me. I tried finding more limits , like limits by day, but didn't worked either (https://cloud.google.com/translate/quotas). I think using proxies would be a possible solution if you are using "requests" module to make the translations:

https://www.scrapehero.com/how-to-rotate-proxies-and-ip-addresse

[2020-10-11 14:04] nidhaloff commented on #19
@ecuracosta I will investigate this

[2020-10-16 23:41] Askadelion opened #24 "error Translation with DeepL as Translator"
* deep_translator version: 1.3.0
* Python version: 3x
* Operating System: Win10

### Description

I have try to use DeepL (i have an api_key) in ur script but i become an error,
i have use follow commands

[code]

### What I Did

[code]

[2020-10-19 17:45] nidhaloff commented on #24
@Askadelion Thanks for noticing this. This was a bug in the constructor, I made a fix attempt. Check out the new version 0.3.1.

I will close the issue but feel free to re-open if you are having problems with this

[2020-10-19 17:45] #24 closed

[2020-10-28 13:54] ecuracosta commented on #19
Sorry, don't want to bother, do you have any news? Something I can help / test?

Would be nice to have a clear idea about the request quotas or to solve this with a proxy or VPN.

[2020-11-03 00:00] devrobgilb commented on #20
Just found this tool; it was exactly what I was looking for. I would suggest adding Microsoft, Amazon, and Yarakuzen. I haven't found really any good python libraries that make it easy to work with Microsoft.

[2020-11-03 00:11] devrobgilb commented on #23
I would be interested in helping out with this a bit if you could give me some specific things that could be done.

[2020-11-03 00:13] devrobgilb commented on #22
Is the fact that QCRI is not included in the cli related to this error that I got:

`from deep_translator import (QCRI)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/deep_translator/qcri.py", line 77, in translate
    translation = res["translatedText"]
KeyError: 'translatedText'`

[2020-11-03 22:43] nidhaloff commented on #23
@devrobgilb thanks for joining ;) you can check the docs in the docs folder. There you will find everything. you can just be creative and improve things in the docs. You can even use another template that will look better. I'm using sphinx to generate docs, if you don't  know what that is, you may want to have a basic idea first but that should be straightforward. Also check this [link](https://sp

[2020-11-03 22:44] nidhaloff commented on #22
@devrobgilb No certainly not. Hmm this is interesting, I will check it out asap

[2020-11-17 08:12] fdalvi opened #25 "GoogleTranslator works intermittently"
* deep_translator version: 1.3.1
* Python version: 3.8.5
* Operating System: macOS Catalina, Ubuntu 18

### Description
GoogleTranslator returns the correct translation sometimes, and the `deep_translator.exceptions.TranslationNotFound` exception is raised sometimes with the same input.

### What I Did

Sample case (translates the same string 10 times):
[code]

Sample Output (varies how many times

[2020-11-20 15:49] nidhaloff commented on #25
@fdalvi Hi sorry for the late reply, I was very busy. This issue is really interesting, somehow the class response is changing from the google server when many requests are made in a short periode of time or at least I think so. I implemented a work around this for the moment but it may possibly happen again. Hence, feel free to re-open the issue if you are still having this particular problem usi

[2020-11-20 15:49] #25 closed

[2020-11-20 16:10] nidhaloff commented on #20
@devrobgilb Thank you. I will check it out when I have more time :/

I hope someone can contribute if they have more time

[2020-12-02 06:02] vinod1234567890 opened #26 "GoogleTranslator Not working for Indian Languages"
* deep_translator version: 1.3.2
* Python version: 3.7
* Operating System: win10

### Description

Translation to English not working for Indian language text transliterated in English

### What I Did

[code]
is returning ```ghar jaana hai```. Whereas the googletranslate website is returning proper translation ```want to go home``` [here](https://translate.google.com/?sl=auto&tl=en&text=ghar%20jaa

[2020-12-18 11:50] fotisskal opened #27 "Linguee Translator does not support all languages"
* deep_translator version: Latest
* Python version: 3.8
* Operating System: Ubuntu

### Description

Linguee Translator does not support all languages in LINGUEE_LANGUAGES_TO_CODES. For example in the case of translating from Greek to English, I get `Required element was not found in the API response` error.

[2020-12-18 11:58] fotisskal opened #28 "Pons translator request ERROR"
* deep_translator version: Latest
* Python version: 3.8
* Operating System: Ubuntu

### Description

Pons translator receiving error `Request exception can happen due to an api connection error. Please check your connection and try again`

[2020-12-18 22:14] nidhaloff commented on #27
@fotisskal  yes it looks like linguee does support translation from English to greek but not the other way around

[2020-12-18 22:15] nidhaloff commented on #28
@fotisskal can you provide your code to reproduce the issue?

[2020-12-18 22:17] #27 closed

[2021-01-06 17:08] gleidsonh opened #29 "Not translate some words / html tags"
Is there a way to not translate some words? For example, I am translating html, but tags like < strong > are translated as well.

I could remove the tags and translate only the text, but in some cases tags are important. For example, "Eu quero < strong > comprar < /strong > um carro" (portuguese), if you are going to translate separately "Eu quero", "comprar", "um carro", translation will be diffe

[2021-01-08 22:44] nidhaloff commented on #29
@gleidsonh can you show the code you used to translate this sentence?

[2021-02-03 14:38] inancg commented on #22
Hey @nidhaloff I like using cli whenever I can. The projects excites me and would like to start contributing.

Is this issue still open? If so, I would like to come back with some propositions and POC.

Best regards,
Inanc

[2021-02-03 17:17] nidhaloff commented on #22
hey @inancg  thanks for joining. The issue is still open yes. Feel free to check it out and make a pull request or create an issue if you have new ideas

[2021-02-04 00:41] morpheus65535 commented on #26
I've been having the same issue with English to Dutch and fixed it by changing the target language url argument used to call Google Translate.

I modified this line: https://github.com/nidhaloff/deep-translator/blob/b9e395baef7ef62820a8383bf66f4404e5fcdb99/deep_translator/google_trans.py#L38

I made it `tl=self._target,` instead and now it works properly. Maybe you can give it a try.

[2021-02-07 16:51] pmi123 opened #30 "What is there a limit of 5000 characters in BaseTranslator?"
I am curious as to the reason for a 5,000 character max limit that you have hard coded into the BaseTranslator class. Did you arrive at this empirically, or do the different translation services impose this limit?

Thanks!

Mark

[2021-02-11 14:17] dmolpa opened #31 "Won't translate from English to Dutch"
* deep_translator version: 1.3.2
* Python version: 3.6.9
* Operating System: Linux dbe87b14d8a6 4.19.112+ #1 SMP Thu Jul 23 08:00:38 PDT 2020 x86_64 x86_64 x86_64 GNU/Linux

### Description

GoogleTranslator returns English phrase as is when I try to translate it into Dutch
I tried it using https://colab.research.google.com/

### What I Did

from deep_translator import GoogleTranslator

GoogleTran

[2021-02-11 16:45] nidhaloff commented on #30
Hey @pmi123 good question, this is because the google translator has a max limit chars check, which is 5000 characters. You can google about it to learn more

[2021-02-11 16:45] #30 closed

[2021-02-11 16:50] nidhaloff commented on #31
@dmolpa Thanks for opening the issue. I will check it out

[2021-02-11 17:06] nidhaloff commented on #31
@dmolpa This issue should be solved in the new version 1.3.3, just make an upgrade to the library ;)

Feel free to open new issues if you find any

[2021-02-11 17:06] #31 closed

[2021-02-12 17:07] yudhiesh opened #33 "Keyerror: 'h1' when performing translations"
* deep_translator version: 1.3.3
* Python version: 3.6
* Operating System: Google Colab

### Description
I have been using this script to translate words but just today it stopped working and I get this error:
`KeyError: 'hl'`

Full error:
![Screenshot 2021-02-13 at 1 06 25 AM](https://user-images.githubusercontent.com/55042754/107798908-b63ef280-6d97-11eb-9780-d83e8447ce1f.png)

[code]

[2021-02-12 17:15] nidhaloff commented on #33
@yudhiesh Thanks for opening the issue. Can you please provide the source and target language? and if possible the text that you wanted to translate? basically the value of x["tweet_text"] or something, just to have a reproducible example

[2021-02-12 17:25] yudhiesh commented on #33
@nidhaloff source is set to "auto-detect" and target language is English. I can share a sample of the text as its the entire row of data.

[code]

[2021-02-12 17:30] yudhiesh commented on #33
@nidhaloff downgrading to 1.3.2 works

[2021-02-12 17:34] nidhaloff commented on #33
@yudhiesh Thanks for the feedback. Yeah I thought immediately that 1.3.2 would work. I did a quick deployment yesterday without an extensive test, which is clearly a problem. This will be solved permanently in the next version 1.3.4

I will close this now but feel free to re-open it if you are having this issue in the future

[2021-02-12 17:34] #33 closed

[2021-02-12 17:37] yudhiesh commented on #33
@nidhaloff I am getting another error now regarding my connection
[code]

[2021-02-12 17:47] nidhaloff commented on #33
@yudhiesh are you sure that it is not related to internet problems?

[2021-02-12 18:00] yudhiesh commented on #33
@nidhaloff I restarted my runtime and the translations were successful. Thanks for the help and the great library.

[2021-02-18 09:58] niklaras opened #35 "GoogleTranslator is free to use unlimited times ?"
For example if i want to use it in an application is free and unlimited for use ?

[2021-02-19 17:05] nidhaloff commented on #35
@niklaras Yes of course, however, notice that if you make too many requests in a short period of time, you will get a "too many request Error" from the google server. As far as I can remember, you can make up to 2 or 3 requests per second or something like that, so be aware that this limitation already exists.

[2021-02-19 17:05] #35 closed

[2021-02-19 17:09] nidhaloff commented on #26
@vinod1234567890 Sorry for the late reply, I'm very busy in the last days. You are right this appears to be an issue only when using the Indian language! at least until now. I will check it out asap.

@morpheus65535 many thanks for pointing out your issue with the dutch language and how you fixed it. I'm wondering why you didn't make a pull request? anyone your comment here helped me to fix the is

[2021-02-19 18:45] morpheus65535 commented on #26
@nidhaloff TBH I was waiting on feedback from you. I've just created PR #36 waiting for your review.

[2021-02-19 19:04] #23 closed

[2021-02-19 19:05] nidhaloff commented on #20
@devrobgilb Microsoft translator can now be used ;)

[2021-02-19 19:06] nidhaloff commented on #29
@gleidsonh I'm closing the issue since there was no feedback from you

[2021-02-19 19:06] #29 closed

[2021-02-19 19:11] nidhaloff commented on #26
@morpheus65535 I don't know why you waited for my feedback. If you faced this issue with the dutch language, you should've opened a separate issue in the first place, because this issue is about another topic, so I can't see why you waited for my feedback here!

After reading your comment a couple of days ago, I went and fixed this issue that's why I can't accept your PR now sorry

[2021-02-25 10:04] credo99 opened #37 "NotValidLength - 5000 chars limit?"
Hi,

Is it possible to split a txt file in 5000 chars batches and submit them to google for translation? I suppose this error comes from this limit..
Thanks

* deep_translator version:
* Python version:
* Operating System:

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

### What I Did

[code]

[2021-02-25 17:05] nidhaloff commented on #37
@credo99 which error?

[2021-02-26 15:38] devrobgilb commented on #20
That's fantastic! Thanks for the work!

[2021-02-26 18:02] nidhaloff commented on #37
@credo99 you didnt post any error,  I don't understand your question

[2021-02-27 11:46] #37 closed

[2021-02-28 08:49] nihaalnz commented on #31
I think this is related, it wont translate to irish, like:
[code]

[2021-02-28 09:08] lenovo360 opened #39 "deep_translator does not translate text in few languages"
deep_translator does not translate text properly in a few languages.

Here's my code:

[code]

Here when I run the code, the output is the same and the text does not seem to get translated.

I tried adding the `source` parameter to the `GoogleTranslator` class, but the output is still the same.

Can you please help me in fixing this problem?

Deep_translator version: 1.3.5
Python version: 3.9.1
OS

[2021-02-28 11:41] nidhaloff commented on #31
@nihaalnz are you sure you are using the latest version of deep-translator?

please upgrade to the latest version 1.3.5

[2021-02-28 12:30] nidhaloff commented on #39
@lenovo360 I fixed this in the latest version 1.3.6

[2021-02-28 12:30] #39 closed

[2021-02-28 14:57] nihaalnz commented on #31
@nidhaloff  Okay sure, thanks!

[2021-02-28 15:08] nihaalnz commented on #33
I once ran into this error and was able to get rid of it by making sure source and target languages are never same.

[2021-02-28 15:24] nidhaloff commented on #33
@nihaalnz  which version? 1.3.8?

[2021-02-28 15:36] nihaalnz commented on #33
@nidhaloff Yep, new version too.

[2021-02-28 17:34] nidhaloff commented on #33
@nihaalnz you are right. I will catch this in the next version

[2021-03-07 12:23] vardecab opened #40 "Can't translate 2000+ words from a text file - character limit?"
* deep_translator version: 1.3.9
* Python version: 3.7.4
* Operating System: Windows 10

### Description

Hi! :)

I wanted to translate 2000+ words from a text file but when running:
[code]
I got an error:
[code]
with `Text length need to be between 1 and 5000 characters`.

It was working fine when I ran the code on 200+ words, though.

Does this package have a character limit then? If so, is ther

[2021-03-07 12:28] vardecab opened #41 "`KeyError: 'hl'` when running `translate_batch()`"
* deep_translator version: 1.3.9
* Python version: 3.7.4
* Operating System: Windows 10

### Description

I couldn't translate 2000+ words from a text file (described in here #40) so I thought about using `translate_batch()` instead. Running:
[code]
gives me this error:
[code]
What's the reason behind it? How to make it work?

[2021-03-07 12:40] nidhaloff commented on #40
@vardecab hmm I'm guessing you have too many spaces in your files, which makes the algorithm thinks that there are more than 5k characters. Can you check that up?

I should have catched this behavior already!

[2021-03-07 12:46] nidhaloff commented on #41
Can you show your example? what did you pass as arguments? a list of strings?

[2021-03-07 13:11] nidhaloff commented on #40
@vardecab Can you try upgrading to 1.4.0 ?

[2021-03-07 16:13] vardecab commented on #40
I did, same error is happening but...

I have a file with ~ 2000 words (~ 19k characters) which is way over 5k characters you've mentioned. They are stored line by line as seen here:
![Code_QmTQszgaj0](https://user-images.githubusercontent.com/6877391/110246450-ee38f000-7f67-11eb-96cb-959e7796b9a0.png)
Does it mean that I cannot have more than 5k characters in the file I'm passing to `translate_fi

[2021-03-07 16:25] vardecab commented on #41
Code looks like this - I'm passing a list of 2188 strings:
[code]
List looks like this (partial screenshot):
![WindowsTerminal_fN04QtrHFn](https://user-images.githubusercontent.com/6877391/110246921-e7ab7800-7f69-11eb-8466-3d89da544b5b.png)

The error looks like this:
[code]

[2021-03-07 16:46] nidhaloff commented on #40
@vardecab Exactly, you can pass more than 5k characters. This is a restriction from google translate not deep-translator.

You can use the translate_batch for this task ;)

[2021-03-07 16:46] #40 closed

[2021-03-07 16:48] nidhaloff commented on #41
@vardecab Alright. Thanks for posting this. This appears to be a bug, I will check it out asap

[2021-03-07 19:28] nidhaloff commented on #41
can you post your source and target languages? I tried your example and it worked fine! maybe it has something to do with the chosen language

[2021-03-07 23:38] vardecab commented on #41
Hmmm... Could it be due to special characters or non-letter characters in the list?

English as source, Polish as target.

[code]

[2021-03-08 18:08] nidhaloff commented on #41
@vardecab special characters are actually ok ;)  I conducted a bug fixes in the new release -> 1.4.1

make sure you try it out. I think it will solve this issue

[2021-03-09 09:39] vardecab commented on #41
Updated to the latest version:
[code]

Ran code:
[code]
Got error:
[code]

So it looks like it's the 5000-character-limit again, similar to #40.

[2021-03-09 17:50] nidhaloff commented on #41
@vardecab I will close this issue since it is actually solved.  As I said you probably need to filter your list and let only words or sentences that can be translated. Feel free to re-open if you faced any issues

[2021-03-09 18:12] vardecab commented on #41
Cleaning the list solved the issue - that's correct. **List can't have any special characters, numbers of single characters - otherwise translation will fail.**

Thanks for your support and good logs! :)

PS

I can't "translate" the number but Google Translate doesn't reject a numerical input, so one can argue that your package should support sending numbers to the API. The returned value will be

[2021-03-09 18:23] vardecab opened #42 "Is there any way to speed up the process of translating bigger payloads?"
* deep_translator version: 1.4.1
* Python version: 3.7.4
* Operating System: Windows 10

### Description

I'm wondering if there is any way to **speed up the process of translating bigger payloads** - hundreds, even thousands of words?

That seems reasonable… but 250 words are gonna need 8+ minutes to process (250 words × 2 seconds = 500 seconds = 8.33 minutes).

Having a payload of ~ 2500 words o

[2021-03-09 18:32] vardecab commented on #42
I ran a few tests with `sleep()` in `google_trans.py` changed from `(2)` to `(0.5)` seconds and payloads of ~ 250 words - it seems to work just fine.

[code]

[2021-03-09 18:36] vardecab commented on #40
FYI `translate_batch()` also has a character limit. To get around it one needs to split a `list` into multiple smaller lists, eg:
[code]
and then iterate through all.

[2021-03-09 18:40] vardecab commented on #42
It also worked fine with `sleep(0.15)` 🤔

[code]

[2021-03-09 18:45] nidhaloff commented on #41
@vardecab the issue is not that google translate does not allow numbers. It does but other translators don't, so to reduce the amount of code I'm using, I used a pattern where I define a similar function in a parent/base translator. You can check the code for this.

Besides, It would be a huge problem if I allowed the translated_text (the response of the API) to be equal to the text (that I want t

[2021-03-09 18:55] vardecab commented on #42
I'm not translating sentences or paragraphs but just lots of single words. What you've said is probably a valid workaround but it feels more natural to just pass a list of original words and get translated words back from API.

Doing this your way would mean that I need to join my words into strings and then split strings into words upon return from API which kinda is backwards logic.

[2021-03-09 18:59] nidhaloff commented on #42
@vardecab  then join your list of words as a string and then split your translated result again and there you have it. Where is the problem?

[2021-03-09 20:20] #42 closed

[2021-03-18 21:32] NatHsn26 opened #43 "can i get the from language in any way ?"
hello!
im coding something for myself and i have someneed i wish you to informate me :)
so in first , is it possible to autodetect the language source but to recuperate the language source name in any case ?
and secundo is it possible to :
i give a word random, its give me the translation if different from the Input . but iwould its continue search traduction for this word while the trad is someth

[2021-03-19 18:09] msoutopico opened #44 "translate_batch() missing 2 required positional arguments: 'target' and 'batch'"
* deep_translator version: 1.4.1
* Python version: 3.9.1
* Operating System: macOS 10.13.6

### Description

my Python file has

[code]

### What I Did

I run the file as `python3 deepl.py`. The results are:

[code]

[2021-03-21 05:03] SplitGemini opened #45 "Proxy support?"
* deep_translator version: 1.4.1
* Python version: 3.9
* Operating System: win10 20H2

### Description

Add a proxy argument to client to use a proxy connection.

### What I Did
Like this.
[code]

[2021-03-24 21:16] #28 closed

[2021-03-24 21:19] nidhaloff commented on #43
@NatHsn26 Hi ;) I'm not sure I understand what you mean. If you get a translation for a word, then it will be probably not the same as the source. If yes then the translation would be wrong. In this case why would you try and translate it again?

Can you clarify more what you are trying to do

[2021-03-24 21:24] nidhaloff commented on #44
@msoutopico Thanks for opening the issue ;)

you are right! The example in the Readme is misleading.

`translated = DeepL(api_key).translate_batch("english", "german", texts)`

Let me know If it worked for you ;)

[2021-03-24 21:24] #44 closed

[2021-03-24 21:33] nidhaloff commented on #45
@SplitGemini I was very busy last days, but this is already on the todo list ;)

[2021-03-24 21:45] NatHsn26 commented on #43
Good evening !Yes sure let's talk later im tired of my day its late where i am living. Have a great day :)

[2021-03-29 19:52] #43 closed

[2021-04-01 15:20] bigsbunny commented on #22
Hey @nidhaloff ! Just came across this issue. This module seems interesting. Just wanted to know if this issue is still open and if I could I start contributing to it?

Thanks & Regards,
Bighnesh Sahoo

[2021-04-01 16:09] nidhaloff commented on #22
@bigsbunny yeah sure, you can start working on it. Feel free to make a PR

[2021-04-06 13:31] NatHsn26 commented on #43
Hello, i dont get enough time for myself to check all my conversation I got problem at home , all my excuses really.
Well im not native english but if i understand good what i wrote it’s dont mean anything lol 📚🌪 so i reformule again ;

Im for the moment using an other translator.
First problem i got is i cant get the language detected , to say for example, the word mean « » in french and input wa

[2021-04-07 11:43] G-Pavel commented on #45
Would be a great addition.
And please also add sock5 proxy support.

[2021-04-07 19:18] #45 closed

[2021-04-07 19:21] nidhaloff commented on #45
@SplitGemini proxies integration is supported in the new version 1.4.2

[2021-05-02 17:11] arrabida opened #52 "deep_translator - GoogleTranslator does not translate German to Dutch directly."
deep_translator version: 1.4.2
Python version: 3.8.5
Operating System: Ubuntu 20.04

Problem: deep_translator - GoogleTtranslator does not translate German to Dutch directly.

I need to translate first to English and than from English to Dutch.
Translate from German to other languages than Dutch is no problem.

To reproduce:
[code]

the output gives a translated text in English instead of Dutch.
g

[2021-05-02 18:17] djstrong opened #53 "Support DeepL free API"
The only difference between free and pro is url with suffix "-free": https://api-free.deepl.com

[2021-05-07 04:03] neoryd opened #54 "Result is different from translate.google.com/m?."
* deep_translator version: 4.1.2
* Python version: 3+
* Operating System: Windows 10

### Description

I compare the translation to translate.google.com/m, and I found that the result is different. But After I try it again, the result become the same.

Conclusion: After you translate a word or sentence you already translated from translate.google.com/m? the result will become the same.

[2021-05-09 09:38] nidhaloff commented on #54
@neoryd so what's the problem if they are the same? can you post an example?

[2021-05-09 09:38] #54 closed

[2021-05-09 09:49] nidhaloff commented on #53
@djstrong this is cool. I didn't know deepl has a free api! I will definitely check this out

[2021-05-09 10:04] neoryd commented on #54
@nidhaloff the result is different from web version.
![Screenshot (390)](https://user-images.githubusercontent.com/72436418/117567935-fbea2d80-b0f0-11eb-8a18-1fd6d8a1d917.png)
![Screenshot (391)](https://user-images.githubusercontent.com/72436418/117567943-fee51e00-b0f0-11eb-9e73-c27d5afb6b69.png)

[2021-05-13 14:07] neoryd opened #55 "How to use DeepL Api Free?"
Hello I saw the new update, it includes a deepL free api but there's no instruction how to use it. Plss help

[2021-05-13 16:09] juligreen commented on #20
papago might be interesting: https://papago.naver.com/

[2021-05-13 17:44] nidhaloff commented on #55
@neoryd Hi, you will need to register and log in to your deepl account, where you will find your api key. If you have the api key then check the docs and you will see some examples on how to use it.

PS: deep-translator uses the deepl free api by default in version > 1.4.2

[2021-05-13 17:44] #55 closed

[2021-05-13 21:21] prof-milki opened #56 ".translate(source=/target=) vs .__init__(source=/target=)"
So, I'm currently integrating some deep-translator backends with [PageTranslate](https://fossil.include-once.org/pagetranslate/) (a LibreOffice plugin). There's some overlap, and generally the API fits well. There's a few things I stumbled across however:

  * The `"DEEPL_FREE"` url in `constants.py` is missing a trailing slash. Probably also the `/v2/` according to the API docs. (Albeit my API ke

[2021-05-14 09:16] nidhaloff commented on #53
check version >= 1.4.3

[2021-05-14 09:16] #53 closed

[2021-05-21 08:51] nidhaloff commented on #56
@prof-milki Thank you for these hints ;) Indeed there are inconsistencies in the code as you said! I didn't notice this until now. It's great that you noticed this. I will check it out asap.

You are also right about deepl I guess. The deepl docs are really bad (IMO), I couldn't figure out how to talk to their API. I couldn't test it too since I don't have an API. I guess I hoped that a user will

[2021-05-21 10:00] prof-milki commented on #56
@nidhaloff Thanks for the feedback!
As for the API, that's probably more of a long-term consideration. You might have/want to introduce `**kwargs` or optional parameters, so either invocation works / it doesn't break existing users. (I've just been contemplating how I would get my project to match up. Or at least have matching source/target= parameters.)

Well, I can quickly confirm that it's inde

[2021-05-21 11:48] nidhaloff commented on #56
@prof-milki Actually I'm already using optional parameters. Where do you suggest adding them exactly?

I will fix the deepl free URL asap ;)

[2021-05-26 08:53] nidhaloff commented on #56
@prof-milki I applied some fixes in the actual version. I will close the issue now but feel free to re-open or give me feedback anytime ;) thanks again

[2021-05-26 08:53] #56 closed

[2021-05-27 11:43] nidhaloff opened #58 "Inviting contributors/maintainer(s) to the project"
Hello everyone,

First of all, I want to take a moment to thank all contributors and people who supported this project in any way ;) you are awesome!

The deep-translator package contains now 9 famous translators, which can be used simply just by importing the right one. I tried to keep the API very simple and as consistent as it can be, which will hopefully make contributors' lives easier if they

[2021-05-29 15:17] florianbussmann commented on #26
I guess there is not much you can do about it with the current setup and here is why.

Thats true, but only for the desktop version.

![image](https://user-images.githubusercontent.com/3610244/120075371-441dbf80-c0a1-11eb-9fdf-ba43f3201dda.png)

`deep-translator` currently fetches the mobile site of google translator and there it is not translating this phrase as well

![image](https://user-images

[2021-05-29 15:42] nidhaloff commented on #26
@florianbussmann yes you are right. I think we can do nothing about this issue at least for now

[2021-05-29 16:13] #26 closed

[2021-06-09 17:31] tuyenhn commented on #22
Hi @nidhaloff, I am interested in working on this issue and get more familiar with open-source, and this issue seems fairly easy enough for me.

[2021-06-09 17:37] nidhaloff commented on #22
@tuyenhn Hi, sure thanks for joining. You can start working on this. You can consider using the click library if you are familiar with it https://click.palletsprojects.com/en/8.0.x/

[2021-06-10 19:29] tuyenhn commented on #22
Hi @nidhaloff, it seems like all of the unimplemented translators (DeepL, QCRI, Yandex, Microsoft and Papago) requires API keys or something similar. Do you want me to also create an `--api-key` argument of some sort for those translators?
Besides that, I have refactored the cli into using the click library.

[2021-06-10 19:35] nidhaloff commented on #22
@tuyenhn Awesome! thank you. Yes exactly, an `--api-key` is definitely needed in that case

[2021-06-10 23:59] Duncanr-glitch commented on #22
I'm not sure if this will be fixed by any of those changes, but I was looking at this the last few days, and the main issue with the translate function seems to be a problem with the QCRI API for the issue that @devrobgilb mentioned:

The 'translatedText' key is missing from the QCRI parameters found here: https://mt.qcri.org/api/v1/translate?parameters.

If I run the QCRI class you made and repla

[2021-06-12 10:33] nidhaloff commented on #22
@Duncanr-glitch This is not the right place to discuss the issue. Can you please open an issue and explain how to reproduce it?

[2021-06-19 11:58] sou-joshi commented on #58
Great tool! Can find sometime to contribute. Amazon translator maybe 👍

[2021-06-19 12:26] nidhaloff commented on #58
@sou-joshi Good idea, just go for it ;) I would happily review your PR

[2021-06-29 21:27] #22 closed

[2021-07-01 13:41] debjyoti003 opened #61 "Error : Can't translate if text is less than 5k characters."
deep_translator.exceptions.NotValidPayload: {'text': 'some_text'} --> text must be a valid text with maximum 5000 character, otherwise it cannot be translated.

I am getting this error while I am trying to translate. Why is this issue happening, what should I do to solve this, please suggest me something.

[2021-07-01 15:18] nidhaloff commented on #61
@debjyoti003 Hi, well as the error shows: your input must be a **valid text**. I think you are trying to pass a dictionary `{'text': 'some_text'}`. Try and convert that to string/text first as the error said.

**example:**
if your dictionary is declared like this: `d = {'text': 'some_text'}`, then pass `d["text"] `to the translation function

[2021-07-01 15:18] #61 closed

[2021-07-01 16:00] nidhaloff opened #62 "Add tests for the cli"
### Description

The cli was re-written using the **click library**. However, there are no tests for the functionality of cli at the moment.
Click offers great support for unit testing. [Read here](https://click.palletsprojects.com/en/8.0.x/testing/)

I will let this issue open for newcomers or anyone who is looking for a good first issue. I think this would be a great task for anyone who wants to

[2021-07-01 16:34] tuyenhn commented on #62
My school semester just started, so, sadly I don't think I have time 😅

[2021-07-01 20:40] nidhaloff commented on #62
@tuyenhn then I wish you success in school and keep coding ;)

[2021-07-02 04:59] debjyoti003 commented on #61
@nidhaloff but I am testing this on postman, and I am passing this as a json data, so how should I do it then, as API only takes json data right?

[2021-07-02 19:19] nidhaloff commented on #61
how are you testing this? it's very hard to tell without seeing any code. Can you please post an example and show how you are using it

[2021-07-02 20:46] nothead31 commented on #62
I am going through the Click documentation and learning how it works. I opened a branch for my changes so I can work from home and the office in my downtime.

[2021-07-02 20:49] nothead31 commented on #20
@foubou If you could open a separate ticket for your suggestion, I already work in Pandas and can tackle adding that in later after I finish my current work.

[2021-07-06 14:12] foubou opened #63 "DEEPL integration"
@nothead31

Hi nothead31 !
I will be great to have a DeepL integration in XLS files so that I can translate automatically multiple cells at once.
And what if I want DeepL to be working online with Google Sheets ? Do you think it can be done ?

Thank you very much for you answer and for help !

[2021-07-06 17:00] nothead31 commented on #62
Is there a particular reason we are using Click instead of argparse @tuyenhn? From this section of Click's documentation, I don't see what benefit Click provides over argparse, which seems to be easier to maintain.

Click is internally based on optparse instead of argparse. This is an implementation detail that a user does not have to be concerned with. Click is not based on argparse because it ha

[2021-07-06 17:06] tuyenhn commented on #62
Not particularly, no. @nidhaloff suggested it, so I implemented it simple as that :)

[2021-07-06 17:27] nidhaloff commented on #62
@nothead31 I find click pretty easy to work with and more importantly to test. The disadvantages of argparse are actually pretty clear in the text you posted. Mainly, I wanted to use click because of the click group concept

[2021-07-14 07:26] rahuvvyas opened #64 "Convert to API"
* deep_translator version:
* Python version:
* Operating System:

### Description
Is it possible to get API with Key?

[code]

[2021-07-15 11:07] debjyoti003 commented on #20
@nidhaloff If you want, I can work on the requirement mentioned by @foubou.

[2021-07-15 20:57] nidhaloff commented on #64
@rahuvvyas please try to explain more!

[2021-07-15 20:57] #64 closed

[2021-07-16 08:52] rahuvvyas commented on #64
I want to use it for translation of (words/characters) contents on website, website developed in laravel ( a PHP web application framework).

[2021-07-16 13:07] nothead31 commented on #63
@debjyoti003 If you want to submit a pull request for this issue, feel free to send it over. Since it's definitely something that will be worked on, it's been moved to its own issue.

[2021-07-16 13:08] nothead31 commented on #20
Please reference Issue#63

[2021-07-16 18:11] nothead31 opened #66 "CLI -lang switch fails"
### Description

Current iteration of "deep-translator xxx -lang" does not perform correctly. -lang switch needs to be converted to a subcommand instead of an option.

[2021-07-16 18:45] nothead31 opened #67 "papago might be interesting: https://papago.naver.com/"
papago might be interesting: https://papago.naver.com/

_Originally posted by @juligreen in https://github.com/nidhaloff/deep-translator/issues/20#issuecomment-840664606_

[2021-07-16 18:48] nothead31 commented on #63
@foubou do you have an .xls document with sample data to test with? Preferably specify in the document or in your comment which languages need to be translated from/to.

[2021-07-17 10:30] nidhaloff commented on #66
@nothead31 I just checked the -lang option. Yes I agree, this should definitely be a sub command

[2021-07-17 10:32] nidhaloff commented on #67
@nothead31 The latest version of deep-translator has already support for the Papago translator.
https://github.com/nidhaloff/deep-translator/blob/master/deep_translator/papago.py

[2021-07-17 14:11] nothead31 commented on #67
I thought it was but must have had a brain fart when I looked for it.

[2021-07-17 14:11] #67 closed

[2021-07-17 17:41] #62 closed

[2021-07-18 13:34] debjyoti003 commented on #20
@nothead31 I have added that feature and send a pull request. Please check that out.

[2021-07-18 13:38] fcolecumberri opened #69 "[Feature Request] make library api more homogeneous"
* deep_translator version: 1.4.4
* Python version: 3.9.5
* Operating System: Linux

I am trying to run this:

[code]

And I find that some of the back-ends like `YandexTranslator`, `DeepL` & `QCRI` have not implemented the `get_supported_languages()` function (or at least not as a static function, `YandexTranslator` & `QCRI` have it as a non static)

This could be neat for people trying to find ou

[2021-07-18 14:03] nothead31 opened #70 "Docs shows failing"
I have to dig through the RTD site, but for some reason the current version of the documentation shows failing. I'm putting an Issue here to either remind myself to investigate or allow someone to come in and dig through it themselves. Most likely the docs for __main__.py just need correcting, but there could be more.

[2021-07-18 14:06] nothead31 commented on #69
Feel free to submit a pull request if you'd like to fix it. Meanwhile, you can use a workaround by importing [Click and using clirunner](https://click.palletsprojects.com/en/7.x/api/#click.testing.CliRunner) to invoke the command line directly from your own module. [More info on clirunner can be found here](https://click.palletsprojects.com/en/7.x/testing/)

[2021-07-18 17:22] nidhaloff commented on #70
@nothead31 I can tell you why is this happening. I'm importing the __version__ variable from deep_translator.__init__,py in the docs configurations under docs/conf.py. Check it [here](https://github.com/nidhaloff/deep-translator/blob/master/docs/conf.py)

I'm doing this in order to build the docs and always show the current version. I don't want to do this manually each time I bump the version. Th

[2021-07-18 17:30] nothead31 commented on #70
Ill resolve it either tonight or tomorrow, tha ms for clarifying the problem. Most likely I'll restore __init__.py for now while i review alternatives.

[2021-07-20 20:36] #70 closed

[2021-07-23 18:59] nothead31 opened #74 "Convert from setup_tools to poetry for build backend"
What it says on the tin: convert the build backend to Poetry. I already have a working Poetry workflow in my own project, and can do the conversion easily in a new branch, all that will be needed before merging to master is either reconfiguring Travis or switching to another CI. I haven't done much research on the different CI options, but @nidhaloff mentioned GitHub Actions which may be viable.

[2021-07-24 02:55] nothead31 commented on #74
Added an initial commit on a new branch. It *will* fail travis. I also changed the conf.py for Sphinx to read the version number directly from pyproject.toml to try and centralize version numbers in one single place. Added toml to the dev-requirements to do the job since I don't know of a better way at the moment.

[2021-07-24 21:36] nidhaloff commented on #74
@nothead31 I added github workflows, so now we will use GitHub actions instead of travis. I noticed that the CLI tests have been always ignored because of how the function name is written. In `test_cli.py`, you named the function results_test. However, test function should have **test_** as a prefix, not a suffix. I fixed that typo and now the cli tests are failing in both travis and github action

[2021-07-24 22:50] nothead31 commented on #74
Ill look at it and see whats failing and ill add the changes in after i finish the poetry conversion

[2021-07-26 07:34] SeerBird opened #75 "API connection error without connection problems"
* deep_translator version:1.5.0
* Python version: 3.9
* Operating System: Windows 10

### Description

I was trying to execute this line: result += GoogleTranslator(source='ru', target='uk').translate(trans), where trans is a proper unicode string

### What I Did

Here's the traceback:
Traceback (most recent call last):
  File "C:\Users\ilyag\Desktop\Translation\Translate.py", line 35, in <module>

[2021-07-26 15:26] nothead31 commented on #75
Are you able to reproduce the error with different text in _trans_? Can  you provide a sample of the text that causes the error along with intended output (what output appears when using the google translator in your browser?)

[2021-07-26 17:45] nothead31 opened #77 "documentation needs updated"
There have been many recent changes to deep-translator, including a recent update to introduce new CLI functionality. These changes need to be added to the documentation.

Good first issue: The documentation is mostly accurate, there is just some missing coverage of new features, so this should be simple enough for someone who either knows restructuredText or wants to learn it.

[2021-07-28 19:05] vitonsky opened #78 "Let's interop with js and python"
Hi, i found this project and its seems very good.

I make same project, but for javascript: https://github.com/translate-tools/core

What you think about to set links to each other in our projects? For example make section "Related projects" or "Alternatives for other languages" in `README.md` and insert there a link.

I think that cross linking to related projects will useful for all people who s

[2021-07-29 13:55] nothead31 commented on #78
@nidhaloff has the final say, but I don't see much reason. A better solution would be building something akin to an awesome-list for translators, given the wide variety and large number of different tools in this category. That would allow a user looking for different translators to see several in an organized list format and compare them easily.

[2021-07-29 14:32] vitonsky commented on #78
I agree with you about awesome list, because it's very useful article format which reviews cool things, but i not sure about category which can contains our solutions. For awesome repo with only translators these list should be not small, but i don't know about really good tools for translate even on other programming languages.

I don't sure, but i think that all people use translators in js, pyt

[2021-07-29 14:33] nothead31 commented on #77
assigning myself to start working on it, but that doesn't preclude someone else from forking & doing the work themselves

[2021-07-29 19:07] nothead31 opened #81 "PyPI publishing is dropped on change to Github Actions"
The move from Travis to GHA means that the automation no longer builds a package and publishes it to PyPI. I don't have credentials for PyPI yet, and this isn't my work, so you will need to be the one to set up the GHA workflow for publishing. I recommend setting it to publish on new tags, and not every commit.

[2021-07-29 20:56] zyddnys opened #82 "Support async API"
Thank you for this wonderful project.
But can you provide an async version of this library? Async is now almost mandatory for any python web apps.

[2021-07-31 23:10] Duncanr-glitch commented on #52
I haven't found source of the bug in the code yet, but trying this out, it seems the same issue can be reproduced if you change the source language to any language (or no language) and then make the target language dutch/nl.

[2021-08-01 10:24] #74 closed

[2021-08-01 10:41] nidhaloff commented on #81
@nothead31 Yes I will add this in GHA asap ;)

[2021-08-01 10:41] #81 closed

[2021-08-01 10:44] nidhaloff commented on #78
@vitonsky Hi, I totally agree with @nothead31

[2021-08-01 10:44] #78 closed

[2021-08-01 10:46] nidhaloff commented on #52
@Duncanr-glitch Yes, this seems to be an issue when translating to dutch/nl in general. I have not found the source of the bug too

[2021-08-01 11:00] nidhaloff commented on #82
@zyddnys Hi, thanks for the suggestion. Indeed, this is already in planning ;)

[2021-08-01 20:06] nidhaloff commented on #69
already done in https://github.com/nidhaloff/deep-translator/commit/186e33e46d447c79b2dcd86abe194ee14df29e67

[2021-08-01 20:06] #69 closed

[2021-08-01 20:13] nidhaloff commented on #75
@SeerBird I'm closing this since you did not provide a reproducible example

[2021-08-01 20:13] #75 closed

[2021-08-02 18:31] #77 closed

[2021-08-08 11:43] SimaDovakin opened #86 "Translating from Russian to Ukranian using Google translator"
When I tranna translate Russian phrase to Ukrainian using GoogleTranslator class it translate my phrase to English. I saw that Ukrainian language is in supported_languages dict with code 'uk', but Russian words translate not to Ukrainian, but English.

[2021-08-09 17:35] joej opened #88 "ms translation response - KeyError "translation""
* deep_translator version: 1.5.0 (via pip install)
* Python version: 3.6
* Operating System: Ubuntu 18.04

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

**code**
from deep_translator import single_detection
lang = single_detection( xxx, api_key='yyyyyy')

**results in:**
   File "./cnki_transform.py", line 478,

[2021-08-09 18:38] nothead31 commented on #88
Giving this one to @nidhaloff to review & determine if its truly a bug or something else.

[2021-08-09 18:43] nothead31 commented on #86
Duplicate of #75 , but that issue was closed due to no response. We need some info before we can try to fix the problem:

- how are you trying to call the program to translate? Are you calling it in your code, or through the console? What output do you get? Include tracebacks.
- What text are you trying to translate? What is the output you receive from the program? What is the output you *expect*

[2021-08-10 06:34] SimaDovakin commented on #86
In my case, there were no errors. I used class `GoogleTranslator`. First off all, I created oject passing two arguments: `source='ru'` and `target='uk'`
[code]
Then I translated phrase such as "Я разработчик" and instead "Я розробник" I get "I am a developer".
[code]
I notice what parameters passed in `BaseTranslator` constaractor and I saw that there is `hl` passed. I made pull request where I ch

[2021-08-10 06:46] SimaDovakin commented on #86
Screenshot of this issue
https://i.imgur.com/K1ka45D.png

[2021-08-10 16:44] nidhaloff commented on #88
@joej Hi, so the code is these two lines? is this what caused the error? I'm assuming so because this is the only code that you provided. However, this works fine!

[code]

This piece of code works fine too:

[code]

So I'm not sure exactly how can I help. Please provide a reproducible example that I can use to reproduce the error. Somehow you provided a code using the detection API but the error

[2021-08-10 18:37] SimaDovakin commented on #86
OK. I understand you. Thanks. I will fix it by your way.

[2021-08-12 15:06] nothead31 commented on #86
Closed due to merged PR

[2021-08-12 15:07] nothead31 commented on #82
Closing issue since @nidhaloff mentioned the change is in the pipeline

[2021-08-12 15:07] #82 closed

[2021-08-12 15:10] nothead31 commented on #52
@nidhaloff is it possible this issue is related to #86 ?

[2021-08-14 10:19] #88 closed

[2021-08-15 13:21] ThomasHaas15 opened #90 "Google Translate uses the suggested language"
* deep_translator version: 1.5.0
* Python version: 3.9.6
* Operating System: macOS 11.5 (Big Sur)

### Description
I'm trying to translate city names from English to Dutch. In the case of 'Viti' (located in Kosovo) the output is 'year'. When I run this translation via translate.google.com, Google suggests to translate from Albanian. When I select this option the result comes back as 'year' meaning

[2021-08-17 19:21] yash19130 commented on #90
I'll take up this issue. What should be the actual output?

[2021-08-17 19:23] ThomasHaas15 commented on #90
Thanks! The output should also be: Viti. The name of the city is written the same in both English and Dutch.

[2021-08-17 19:30] yash19130 commented on #90
Okay! I've got it.

[2021-08-19 15:01] KshitijJainM commented on #90
Can I work on this issue?

[2021-08-21 16:18] kuspia opened #93 "Optimizing Google Translator"
### Description

Recently I tried fixing issues #90  #52 with PR #92  which was related to the google translator it was amazing to see the art of web-scraping the translated text using python but the following issues are needed to be solved for a better performance.
**************************************************************************************************************************
1. ```GOOG

[2021-08-23 06:09] cosmo4412 commented on #20
I would suggest adding more tools like Opus-mt from Helsinki NLP[https://huggingface.co/Helsinki-NLP](url) , Mbart [https://huggingface.co/transformers/model_doc/mbart.html](url) , and m2m_100 from Facebook Research[https://github.com/UKPLab/EasyNMT](url)

[2021-08-23 16:31] #90 closed

[2021-08-23 16:31] #52 closed

[2021-08-23 17:10] nidhaloff commented on #93
@kuspia  alright thanks, I assigned the issue to you

[2021-08-23 18:10] LostInDarkMath opened #94 "Is this package production ready?"
Hi there,
I checked out many different Python translation libraries, but all of them had some problems suddenly and stopped working. I think most of them used the Google API.

I need a translator which is ready for production usage. So my questions are:
1) How reliable is your package?
2) Which if these translator implementations is the most reliable?
3) Are there in constraints in terms for examp

[2021-08-23 19:13] nothead31 commented on #94
Closing because not an issue. Please use the discussions feature in the future for questions.

But for your questions:
1. The package itself is stable and gets bugfixes as needed, about twice a month on average so far. If you discover a problem, please create a new issue, we typically respond within less than a week, often only a couple days.
2. If you are translating to/from English, then they al

[2021-08-23 19:13] #94 closed

[2021-08-23 19:15] LostInDarkMath commented on #94
Thanks for your fast answer! I've overlooked the discussion feature. Sry for that.

[2021-08-23 19:25] nidhaloff commented on #94
Hi @LostInDarkMath I want to add a few points. I started this project for the same reason you mentioned above. You can read the README/docs to know more.

deep-translator is different. It does not use the Google API that's why it should be more reliable than other packages (I'm not saying other packages are bad, but this is my experience with packages that use the Google API).

If you check the hi

[2021-08-24 15:12] kuspia commented on #93
@nidhaloff kindly check out PR #95 that fixes the above issues and also enhances the translator. In case of any confusion kindly ask me.

[2021-08-24 18:10] nothead31 commented on #20
@cosmo4412 I fixed your links, remember that markdown uses the `(link name)[link url]` format :)

As for your suggestion, the third link to EasyNMT looks like a machine learning system that runs off of the models you mentioned in the first two links. I'm not too familiar with machine learning myself, so I'll let you make the case why these would be beneficial to add to our project. From my perspec

[2021-08-24 18:15] cosmo4412 commented on #20
First of all thanks for pointing out my error regarding the format, I shall keep that in mind.
And secondly about my suggestion, my perspective here was to add support of more algorithms, which can help users compare the performance of different algorithms and choose the best one according to their needs.

[2021-08-28 21:47] #93 closed

[2021-08-29 06:57] svshivapuja commented on #63
Hi is this issue still open ?

[2021-09-02 15:16] celsofranssa opened #96 "Is there an approach to speed up processing?"
* deep_translator version: 1.5.4
* Python version: 3.7
* Operating System: Ubuntu 19.04

### Description

Is there an approach to speed up processing?

### What I Did
I have to translate three text fields on each of ~126k samples. This task has an estimated time of over 96 hours:
[code]

[2021-09-07 11:38] nothead31 commented on #96
The translators call your selected translation service directly, and rely on your internet connection as well as the translation service's response speed. I would recommend testing with some of the other translation services and see if you get increased speeds on one of those.

[2021-09-07 11:39] nothead31 commented on #63
Yes, it is.

[2021-09-16 08:37] caudurodev opened #101 "Recommended python docker image? Very slow with 3.9-slim"
* deep_translator version: latest
* Python version: 3.9
* Operating System: docker container python:3.9-slim and python:3.9

### Description

I've been trying to install this package inside a docker container but it is extremely slow as it attempts to download all soupsieve versions to find a compatible package. Example terminal output:

[code]

[2021-09-17 12:24] erickrf opened #102 "MicrosoftTranslator error (The target language is not valid)"
* deep_translator version: 1.5
* Python version: 3.8
* Operating System: macOS 11.5.2

### Description

When I try to translate with `MicrosoftTranslator` to any language, it gives an API error `{'code': 400036, 'message': 'The target language is not valid.'}`.

### What I Did

[code]

And it gives
[code]

If I try to translate sentences one by one, it works on the first but fails on the second wi

[2021-09-17 17:01] johnbumgarner opened #103 "Rate limiting parameters"
I'm working to integrate the capabilities of this Python Package into my [open source project WordHoard](https://github.com/johnbumgarner/wordhoard).   I started writing code to use your Python package.  I noted that when I used the _Linguee Translator_ I get blocked within seconds.  I even get blocked if I add a 10 second delay between requests.  I cannot find any published guidelines on Linguee

[2021-09-17 17:06] Arthurfogo7 opened #104 "Is it possible to translate .txt files?"
I'm currently translating a game and I need to translate the ,txt script via deepl, but I can't find a script that translates .txt.

[2021-09-17 22:13] NatHsn26 commented on #104
I think i remember you can read and convert a file content into a string with a native library, or im wrong its from an other language i may remember bad but anyway you can surely find a library which can do this but it must be a native library i think.
It should be enough for what you want to do

[2021-09-17 22:29] NatHsn26 commented on #104
I just looked and im not wrong, but you dont event need to import a library you can just open the function open(),close() etc just look up how it work on internet its easy. Will be enough to give your .txt content to a translator

[2021-09-21 16:57] Don-Yin opened #105 "Doesn't work with Chinese as target."
* deep_translator version: 1.5.4
* Python version: 3.9.7
* Operating System: macOs 11.6

### Description
What happened:

  GoogleTranslator not working when target is set to chinese.

  I am trying to translate english paragraphs to Chinese, here is what I did:

[code]
where SentenceSplitter returns a list of strings each is a sentence from the original paragraph, and:

[code]
where to_translate i

[2021-09-22 16:01] johnbumgarner commented on #103
I'm closing this issue, because I developed a design my own solution, which I can maintain within my project.

[2021-09-22 16:01] #103 closed

[2021-09-23 06:36] caudurodev commented on #101
I've just tried installing the module `deep_translator` instead of `deep-translator` and all went fine. What's up with the 2 different naming conventions?

[2021-09-25 00:41] davidsands commented on #105
The problem is that google translate mobile requires the target language to be either "zh-CN" or "zh-TW" (case sensitive). "zh" alone sometimes works (haven't figured out just when or why), but google translate changes "zh" to "zh-CN" internally.

Just to track down the problem and allow Google Chinese translation, I added the _zh_map code to google_trans.py (around line 92)
[code]

I'm not sure w

[2021-09-25 11:30] Don-Yin commented on #105
Thanks for your reply!
It explains a lot!

[2021-09-29 13:22] fcolecumberri opened #106 "[Feature Request] Support for libretranslate.com"
### Description

Support for https://libretranslate.com/

Also, I think in this case, the construct should have the url as parameter, since as described at https://github.com/LibreTranslate/LibreTranslate#mirrors , the project can be used locally or by other servers.

[2021-10-07 07:17] nidhaloff commented on #58
Hi @singhaditya28 thanks for the info, but how can I do that?

[2021-10-07 14:37] singhaditya28 commented on #58
Go to --> hacktoberfest.digitalocean.com
Then click start hacking, register yourself as a maintainer and provide the required details.

[2021-10-08 13:23] sshivprasad opened #108 "Batch Translate API terminates on encountering the very first invalid text or text with just numbers"
* deep_translator version: 1.5.4
* Python version: 3.8.8
* Operating System: Windows 10

### Description
When using batch translate in Google Translator, ran into an exception when the API encountered a text with only numbers. I think it would be better if in case of the batch API such an exception is handled and the input text is returned back, so that it proceeds to translate the next text in th

[2021-10-08 18:16] #108 closed, assigned to nobody

[2021-10-08 18:41] nidhaloff commented on #108
@sshivprasad Exactly, hence you want to adapt deep-translator for your use-case, which is not good because you can imagine how the package will look like if we adapt it to every user's use-case. Therefore, you need to find a way to do this ;)

Why is filtering rows before passing it to the translator difficult? how it would be difficult to map it to the right index? if you show me an example, mayb

[2021-10-09 05:20] singhaditya28 commented on #58
@nidhaloff Did you get it?

[2021-10-21 15:41] #105 closed, assigned to nobody

[2021-10-29 22:25] ridicolos commented on #106
Hey @nidhaloff I am really new to contributing to open-source projects, but would love to help out here.

Could I take this issue? If all goes according to plan, I should be able to work on this in the next week. Hopefully it won't take me too much time to implement.

[2021-10-31 07:58] nidhaloff commented on #106
@ridicolos Sure, just make a PR ;)

[2021-11-08 13:36] LeMoussel opened #110 "Error with proxies"
* deep_translator version: v1.5.4
* Python version: 3.7
* Operating System: Windows 10

### Description
With [Proxy usage](https://github.com/nidhaloff/deep-translator#proxy-usage) example & my own proxy, I got this error

[code]
I suspect that this error is due to this in [constants.py](https://github.com/nidhaloff/deep-translator/blob/master/deep_translator/constants.py#L203)
`microsoft_language

[2021-11-14 03:51] Sachit71 opened #111 "Code implementation for example usage is incorrect"
I tried using the example usage in the pypi readme section and got an error the error.

It's import deep_translator and not import deep-translator

If this issue is verified I can PR and fix this.

[2021-11-14 04:00] Sachit71 commented on #111
This problem exists in the pypi readme only and not in the github readme.

[2021-11-14 04:00] #111 closed

[2021-11-18 21:27] nidhaloff commented on #106
@ridicolos Any progress on this feature?

[2021-11-19 00:13] ridicolos commented on #106
@nidhaloff unfortunately not yet. If you want to take over the issue right away, you can. I'm not sure how soon I'll get to it.

I'll probably manage to work on it a bit on sunday, but probably won't be able to finish it then.

[2021-11-29 16:19] ObedH26 opened #113 "Language detect"
Hello!
I am really interested to use your library and i still never done before.
Just a few question ;
It is very cool that i can detect which language a word come from, but is it possible to detect all the language it is from ? I mean many word have the same spelling in many different language could it be possible to know the list instead of one only as generally? Would be an awesome ad on if it

[2021-11-29 18:57] morpheus65535 commented on #105
Still not working for me neither. It return English (identical to what was sent).

[2021-11-30 18:02] ObedH26 opened #114 "Error with single_detection, from detection.py"
Hello, if anybody can light me its would be cool.

I just get this error too often when i want to detect a language.
I tried many way to code this but anyway its change nothing and no idea why , i checked the inside of detection.py and i dont get the things.

/var/mobile/Containers/Data/Application/6D56E86F-4BB6-431A-9742-152635F249DB/Library/lib/python3.9/site-packages/deep_translator/detection.p

[2021-12-04 14:31] nidhaloff commented on #113
Hi @ObedH26, what do you mean by detecting all the languages a word is from? please provide what you did and paste your code so that we can know how to help you.

[2021-12-04 14:33] nidhaloff commented on #114
Please open just one issue per topic. I noticed you already opened an issue for language detection. Let's discuss it there. I will close this issue.

As I commented for the other issue you opened, please provide what you did, your code or an example of what you tried, so that we can understand your problem and help you further.

[2021-12-04 14:33] #114 closed

[2021-12-04 17:05] ObedH26 commented on #113
Good evening,
I do mean that for example;
"Difference" is spell in maltese and italian the same way: "differenza"
Also for example the word "book" is spell same in galician, italian, spanish and esperanto : "libro"
But the detection will always return me one language it would be pretty cool if it is able to return me all the langage from the translation is the same, but i guess it is more difficul

[2021-12-05 20:14] nidhaloff commented on #110
Hi @LeMoussel can you paste your code? it's hard to tell what went wrong just by looking at your error. Generally, I tried and tested the use of proxies many times and I can say that it works fine. Which proxy are you using? can you give a reproducible example?

[2021-12-05 21:09] ObedH26 commented on #113
Sorry about the previous question i forgot i did open that, also i dont think i still have the file which came about.
And well about this one as i said i am not sure if there was a problem iwill write it here if that happen again but it was probably because i did my daily quota. I let you check the rest of my previous message also for you get what i firstly mean with my question

[2021-12-06 06:47] rahulbanerjee26 commented on #106
Hi! Is this issue up for grabs?

[2021-12-06 08:31] ridicolos commented on #106
Hey @rahulbanerjee26, because I unfortunately still haven't got around to starting the issue i don't think anything stands in the way and you can start with the implementation

[2021-12-06 18:41] rahulbanerjee26 commented on #106
Thanks, @ridicolos

@nidhaloff could you please assign the issue to me? I should have a PR out in a week or so, thanks!

[2021-12-06 19:54] nidhaloff commented on #106
Hi @rahulbanerjee26 thanks for joining. Normally I'm against assigning issues to specific people and I would prefer that anyone can work on it and just make a PR if something is ready. However, I would assign the issue to you in this case if you keep us updated about findings, changes, etc... ;)

[2021-12-06 19:58] nidhaloff commented on #113
@ObedH26 Ok I understand the issue now. However, it is really hard to detect many languages for a word. Even the google translator website can't do that. It would only suggest one language and you should manually choose another language if the AI didn't select what you want. Since deep-translator is built on top of these translators, it is impossible to detect a list or a dictionary of languages,

[2021-12-06 19:58] #113 closed

[2021-12-06 19:59] #110 closed

[2021-12-08 01:40] rahulbanerjee26 commented on #106
Hi! @nidhaloff thank you!
Just to give you a bit of context, one of my courses in my university requires me to make an open-source contribution. I am a part of a team of 5 and the entire team will work together on making the PR.

We found an API Wrapper for [libretranslate](https://github.com/argosopentech/LibreTranslate-py) and are investigating it to see if it can be used. If the wrapper has any

[2021-12-08 08:59] nidhaloff commented on #106
@rahulbanerjee26 Sounds great. I'd rather not add a dependency/lib. The wrapper does not look mature and therefore, it would be great if you guys can make use of the existing dependencies. As you said, calling the API directly should be straightforward

[2021-12-14 05:18] rahulbanerjee26 commented on #106
Hi! @nidhaloff, we just made a PR for this feature.

[2021-12-22 18:11] #106 closed

[2021-12-29 19:14] ObedH26 opened #116 "Problem with library importation since the last update"
Hello.
I just upgraded your package, but it seem there is something wrong , ![image](https://user-images.githubusercontent.com/80646073/147695781-2f2024bf-ba5f-4e7f-9c54-6602ae55cdff.png)
It seem i am getting this error only when i use "from deep_translator import *", if i import manually the item needed it seem to work correctly.
Thanks, have a good evening

[2022-01-13 17:20] Zethson opened #118 "Relax version constraints"
* deep_translator version: latest
* Python version: 3.8
* Operating System: Arch

### Description

deep-translator cannot be added to a project of mine as a dependency because it requires click 8.x which conflicts with other dependencies of mine.
Could you in general please relax the version constraints a little bit?

Thanks

[2022-01-15 02:44] RodrigoSeger opened #119 "Error "ModuleNotFoundError: No Module named deep_translator", code does not execute"
* deep_translator version: 1.6.1
* Python version: 3.10.1
* Operating System: Windows 10

### Description
I was trying to perform the test translation as it appears in the first example that is in the documentation and when I run the code, it appears like this:
"from deep_translator import (GoogleTranslator,
ModuleNotFoundError: No module named 'deep_translator'"
I don't know if I installed someth

[2022-01-18 15:28] brospars opened #120 "Usage from terminal documentation is outdated"
* deep_translator version: 1.6.1
* Python version: 3.7.4
* Operating System: Ubuntu 20.04

### Description

The usage from terminal documentation is outdated : https://deep-translator.readthedocs.io/en/latest/usage.html#usage-from-terminal

- The command is `deep_translator` and should be `deep-translator`
- The `--translator` option `Error: No such option: --translator` and should be `deep-transl

[2022-01-20 08:41] tcazw opened #121 "error while translating docx file"
When I try to translate an docx file, the folowing error occur:

'utf-8' codec can't decode byte 0xc6 in position 15: invalid continuation byte

I believe it comes from how it read the docx files

[2022-01-21 13:34] juligreen opened #122 "Use lingua for language detection?"
Just as a suggestion, this package was recently published: https://github.com/pemistahl/lingua-py
Since it's language detection capabilities seem to be very good it could replace the existing, api-based language detection.

[2022-01-21 13:43] MinmoTech opened #123 "[Question] Can this library be used to extract google readings?"
Is it possible to extract readings from google translate (marked in image) with deep-translator?
Since it's often better at generating readings from japanese than offline libraries this is something I'd like to do.
![image](https://user-images.githubusercontent.com/25890405/150536487-1bb03c66-f37f-49e5-90a6-62ea58f6ba59.png)

Thank you for any help!

[2022-01-25 11:32] ZeroCoder9324 opened #124 "Google Translation Result Quality Suddenly Become Worst."
* deep_translator version: v1.6.1
* Python version: 3.9
* Operating System: Windows 10

### Description

I don't know why, the google translation quality suddenly drop so much just now.

[2022-01-26 09:29] martina-chlebcova-csob-sk commented on #110
Hello, I'm having the same issue. We are behind proxy at work. The problem here is that when importing the module deep-translator the proxy blocks the requests to "microsoft_languages_api_url".

Code:
from deep_translator import GoogleTranslator

Error: SSLError: HTTPSConnectionPool(host='api.cognitive.microsofttranslator.com', port=443): Max retries exceeded with url: /languages?api-version=3.0&s

[2022-02-03 19:00] nidhaloff commented on #116
Thanks for opening the issue! I will check it out asap

[2022-02-03 19:02] nidhaloff commented on #118
@Zethson thanks for opening the issue! I already wanted to switch from click to argparse anyway. I think click is an unnecessary dependency in this case. According to the feedback I'm getting, not many people are using the cli feature

[2022-02-04 08:18] topguns837 commented on #119
Hey @RodrigoSeger , It seems to be working fine on my system :)

deep_translator  : 1.6.1
Python version : 3.9.7
OS : Windows 10
pip version : 21.3.1

Installation step  : pip install -U deep-translator

![image](https://user-images.githubusercontent.com/51917087/152495086-e0e679df-8138-4e36-8ac7-4af5a28a544d.png)

[2022-02-04 09:09] Jourdelune opened #126 "Bug: translation that resort fans the same language following the update of google on their api."
Hello, google has updated its api so that now when a translation is done, it resorts in the same language. Is it possible to correct this?

[2022-02-04 10:17] topguns837 commented on #121
Can you post a code snippet as well ? (Also include the text file you want to translate)

[2022-02-04 11:16] #126 closed

[2022-02-04 11:35] nidhaloff commented on #118
@Zethson Fixed in v1.7.0

[2022-02-04 11:35] #118 closed

[2022-02-04 11:36] nidhaloff commented on #116
@ObedH26 should be fixed in v1.7.0

[2022-02-04 11:36] #116 closed

[2022-02-04 11:36] #63 closed

[2022-02-04 11:38] nidhaloff commented on #119
@RodrigoSeger Hi, apparently you didn't install the package correclty or maybe you are in a different python virtual environment. The best practice is to create a python3 virtual env and run pip install deep-translator there. This way you can make sure that the package has been installed correctly.

[2022-02-04 11:38] #119 closed

[2022-02-04 11:40] nidhaloff commented on #120
@brospars thanks for noticing this. I tried to update the docs for the new v1.7.0 release. It should be up to date now

[2022-02-04 11:40] #120 closed

[2022-02-04 11:44] nidhaloff commented on #121
@tcazw Hi, can you post an example of your docx file and a code snippet?

[2022-02-04 11:46] nidhaloff commented on #122
@juligreen thanks for the suggestion. However, I'm trying to keep the package simple, so I would rather not add dependencies for now. If the community required this feature then maybe we can do this ;) but now I think it's not necessary

[2022-02-04 11:46] #122 closed

[2022-02-04 11:50] nidhaloff commented on #123
@juligreen Hi, thanks for opening the issue. Yes, this is definitely possible since deep-translator is basically scraping the site.

It is not yet implemented though. I will check it out asap.

Feel free to check this out if you want to contribute to the project

[2022-02-04 11:51] #124 closed

[2022-02-11 23:08] Vincent-Stragier opened #129 "Code improvement and new feature"
Hi,

I was wondering if wrapping the translator would be more efficient in some situations. So I tried the following:

[code]

It seems easier to switch from an engine to another, but it also highlights some inconsistencies in the code. All the translators are not all ending with `Translator` in their name, and the same goes for the inheritance of the `BaseTranslator` class.

[2022-02-15 13:46] nidhaloff commented on #129
Hi @2010019970909, yes there are indeed some inconsistencies in the code despite my efforts to keep it as consistent as possible when I started coding it. This is because each translator has different requirements and relies on different interfaces. For instance, deep-translator uses API keys or the "official" API for DeepL, on the other hand, it uses web scraping to scrap google translations. The

[2022-02-15 16:33] 2010019970909 commented on #129
In #130, I implemented another solution. We register all the non-inherited translators to the base class. It later simplifies the addition of new translation engines. Also, it allows removing the static dictionary used in the CLI (probably easier to maintain in the long term). And finally we initialize an engine function which will return the desired class when called.

Of course, it's not perfect

[2022-02-17 15:46] Unforevable opened #133 "Issue while translating via Microsoft provider."
* deep_translator version: 1.7.0
* Python version: 3.9.7
* Operating System: Win10

### Description

Hello. I was trying to translate from Zh-Hans source language via Microsoft localization provider.

### What I Did

[code]

It seems to be an error in constants.py:
[code]
because prior in microsoft.py language register in request is lowered in MicrosoftTranslator class init method:

self.source =

[2022-02-22 08:41] BercziSandor opened #134 "Proxy usage"
* deep_translator version:  1.7.0
* Python version: 3.10
* Operating System: Windows 10

### Description

Unable to import deep_translator in case of proxy needed.
It is not possible to define proxy before imports.
Idea: Maybe the internal use of environment variebles http_proxy/https_proxy?

### What I Did

Code:
[code]

Output:
[code]

[2022-02-22 15:59] ireneb612 opened #135 "FREE??"
Is this tool always free or is it constrained to the free apis ???
Because it seems like it uses Google etc apis so maybe it's not free forever or anyway it is limited.

[2022-02-22 21:51] nidhaloff commented on #135
Hi @ireneb612, Yes this tool is free as stated in the docs and description. It does not use the Google API! it uses web scraping when possible, therefore decoupling the need to use an API. On the other hand, some translators like DeepL require an API therefore, this tool gives the freedom to the user to use that API (if they want).

----

**You could ve formatted your question better**

[2022-02-22 21:51] #135 closed

[2022-02-25 17:34] nidhaloff commented on #134
@BercziSandor thanks for opening the issue. I think this is caused by the get request to get supported languages by the ms translator. I will check it out asap

[2022-03-04 15:33] ItCameFr0mMars opened #137 "Load multiple proxies from file"
Hello, are multiple proxies supported? and how could I import them from a text file into the dict used?

[2022-03-09 10:14] #129 closed

[2022-03-09 12:50] morpheus65535 opened #138 "Network issue, not fully initialized or service availability prevent module initilization"
This part of code:
https://github.com/nidhaloff/deep-translator/blob/0cfe8e507c46b4e21e458fe0d4d2195dd28eab59/deep_translator/constants.py#L202-L208

Raise an unhandled exception when api.cognitive.microsofttranslator.com is unreachable:
[code]

[2022-03-09 21:49] nidhaloff commented on #138
Thanks for opening the issue. I moved this part of the code to the MicrosoftTranslator class. This should be fixed in v1.8.0

Feel free to re-open the issue otherwise.

[2022-03-09 21:49] #138 closed

[2022-03-09 21:50] nidhaloff commented on #134
should be fixed in v1.8.0

https://github.com/nidhaloff/deep-translator/pull/139

[2022-03-09 21:50] #134 closed

[2022-03-09 21:56] morpheus65535 commented on #138
Appreciated, thanks!

[2022-03-09 21:57] nidhaloff commented on #133
Hi @Unforevable, sure you can contribute and make this change https://github.com/nidhaloff/deep-translator/blob/master/deep_translator/microsoft.py

[2022-03-10 15:20] nidhaloff commented on #137
Hi, @ItCameFr0mMars yes multiple proxies are supported. You just need to pass them as a dict.

Reading a text file into a dict is not specific to deep-translator. Therefore the issue is not really related to the package.
Just take a look at how you can read a text file and parse it into a json/dict in python. I'm sure there is a lot of examples, otherwise you can post your file here and we will tr

[2022-03-10 15:20] #137 closed

[2022-03-10 15:35] ItCameFr0mMars commented on #137
I actually found proxies to have very little impact, how many requests would need to be made before one would be ratelimited?

[2022-03-11 17:16] Zethson opened #140 "libre no longer translating"
* deep_translator version: 1.8.0
* Python version: 3.8
* Operating System: Linux

### Description

Translating "Ich mag Züge" which is German for "I like trains" with the libre flavor.

The result is still in German. All other flavors work.

[2022-03-13 13:13] nidhaloff commented on #140
@Zethson thanks for opening the issue. With "no longer translating", do you mean that it worked with previous versions (e.g v1.7.0)?

[2022-03-13 13:15] nidhaloff commented on #133
@Unforevable I will check this out since I didn't receive a response from you

[2022-03-13 13:15] Zethson commented on #140
Yes exactly. Sorry, should have clarified this.

[2022-03-13 13:54] #133 closed

[2022-03-13 14:11] nidhaloff commented on #140
@Zethson thanks for the feedback. Did you pass the source and target language as abbreviations? can you show me how you called the function

[2022-03-14 11:14] #140 closed

[2022-03-14 11:15] nidhaloff commented on #140
it would probably work if you use abbreviations as source and target languages. I just merged a fix for this

[2022-03-14 11:16] Zethson commented on #140
Sorry, here's the code: https://github.com/theislab/ehrapy/blob/development/tests/tools/nlp/test_translator.py
Pretty sure that we are using abbreviations already.

[2022-03-14 13:03] nidhaloff commented on #140
@Zethson I think your problem is the way you are passing the arguments. It's hard to tell from the code you are providing.

 Anyway, this simple example works:

[code]

or if you have an api_key and want to use it:

[code]

these two code examples work fine

[2022-03-18 20:52] nidhaloff commented on #121
I'm closing the issue since I received no response but this should be already fixed anyway in new versions >= 1.8

[2022-03-18 20:52] #121 closed

[2022-03-19 14:41] nidhaloff opened #144 "Website and desktop app based on deep-translator?"
### Description

Hey y all,

I know it's hard for newcomers to join the amazing open-source world because I've been there.

In order to invite people to the project and mainly give others the opportunity to join the open-source world and make their first contribution, I wanted to propose the idea of developing a website and maybe even a desktop app based on the deep-translator package.

I honestly

[2022-03-20 13:43] sam-sunder commented on #144
Hi @nidhaloff I was interested to develop a web application
Can I ?

[2022-03-20 14:32] nidhaloff commented on #144
@sam-sunder Sure sounds great. I already set up a repo for the website. [this repo](https://github.com/nidhaloff/deep-translator-website)

[2022-03-20 15:58] sam-sunder commented on #144
Yes I'm interested
Thanks for opportunity

[2022-03-22 12:49] filipegl commented on #105
This issue should be open @nidhaloff
I also can't translate english to chinese

[2022-03-22 18:20] nidhaloff commented on #105
@morpheus65535 Can you show me your example? or open a new issue using your example that it's not working?

This is an example that it is working on my simple test
[code]

[2022-03-22 18:37] morpheus65535 commented on #105
@nidhaloff that seems to be working now. You can forget my November comment. Thanks for the followup. :-)

[2022-04-02 16:43] Huertas97 opened #146 "Get all supported languages by Translator"
* deep_translator version: 1.8.3
* Python version: 3.7.13
* Operating System: Ubuntu 18.04.5 LTS

### Description

I've tried the tutorial's code for getting the supported language by a Translator

[code]

 but an error rose up:

[code]

[2022-04-02 16:59] nidhaloff commented on #144
First API version has been released: try it out [here](https://deep-translator-api.azurewebsites.net/)

[2022-04-16 23:01] drdoof2019 commented on #146
+1

[2022-04-22 14:25] khanYas786 commented on #146
from deep_translator import GoogleTranslator
langs_dict = GoogleTranslator().get_supported_languages(as_dict=True)
This seems to have worked for me. Got the idea from https://stackoverflow.com/questions/49355163/translate-missing-1-required-positional-argument-text

[2022-05-21 13:04] ASCE-D commented on #144
@sam-sunder Hello brother , I want to help you with developing the web-app .

[2022-05-22 15:23] sam-sunder commented on #144
@ASCE-D Sure

[2022-05-26 11:36] Di-Ma-S21 opened #148 "Question about language detection"
* deep_translator version: v1.8.3
* Python version: v3.8.13
* Operating System: Windows10

### Description
Hi,

Many thanks for releasing Deep-translator! For language detection, could we know if it can output `top k` (for example, top 2) matched languages with sorted confidence scores?

Many thanks!

[2022-06-04 21:17] Johnthen1 opened #149 "Can I get blocked from google by ip?"
like I have seen in another python googletrans addon that your able to be IP banned by google, is it the same here?

[2022-06-08 15:57] NeuroinformaticaFBF opened #150 "Not translate some part of text?"
* deep_translator version: 1.5.0
* Python version: 3.6.9
* Operating System: Ubuntu 18.04

### Description

I need to perform the following operations:

I need to translate (from english to italian) a document that contains some tags. However, the tags themselves do NOT have to been translated.
#### Example:
Original english text
"Patient shows signs of ^entity type = DISEASE^ flu ^/entity^ today.

[2022-06-08 19:44] nidhaloff commented on #148
With the current version it is not possible, but it is definitely something that can be done in future versions ;)

[2022-06-08 19:59] nidhaloff commented on #149
@Johnthen1 That can certainly happen using the Google translator. However, it's hard to tell **when exactly** it will happen. As @Rapid1898-code asked, there is no limited number of translations that you can do per xyz. If you requested many translations in a short period of time (e.g thousand translations per second or something), the Google server CAN block your IP.

@Rapid1898-code In deep-tran

[2022-06-08 20:00] nidhaloff commented on #150
@NeuroinformaticaFBF tbh, I didn't get what you mean. Can you provide an example with your expected output and the current one?

[2022-06-08 20:35] #146 closed

[2022-06-09 04:36] yutkat opened #151 "`make install` doesn't work"
* deep_translator version: 4379cbabd029515ea1cf0a162808c25534822727
* Python version: 3.10.5
* Operating System: ArchLinux

### Description

You have removed setup.py so `make install` doesn't work anymore.
I would like to update the commands.

https://github.com/nidhaloff/deep-translator/blob/master/Makefile#L82-L83

### What I Did

- `git clone https://github.com/nidhaloff/deep-translator`
- `ma

[2022-06-09 07:32] NeuroinformaticaFBF commented on #150
I'm sorry, I posted an example with XML style tags but I didn't notice they were not printed.
I edited the original post by using ^entity type = ...^ ... ^/entity^ as tags.

Basically, I need to translate the whole text except the content of such tags.

A more realistic example:
Input --> Original english text:
"CVD risk factors (hypertension, high LDL **^/entity type = TRIVIAL ^**cholesterol**^/e

[2022-06-09 20:03] nidhaloff commented on #150
@NeuroinformaticaFBF I see now what you mean. The thing is, deep-translator is only the middleman in this whole translation process. For instance, when you translate using Google Translate, deep-translate will just send your text to the Google Translate server, receive the response and give it back to you.
Therefore, what you are asking is not possible using deep-translator. It does also not make

[2022-06-09 20:03] #150 closed, assigned to nidhaloff

[2022-06-13 08:09] Di-Ma-S21 commented on #148
That's great! Thanks!

[2022-06-29 18:59] nidhaloff commented on #151
@yutkat thanks for noticing this. Yes `setup.py` has been substituted with `pyproject.toml`. Therefore, the `make install` command should be changed to `poetry install` or `pip install .`, which should work for any package anyway.
Would you like to update it and make a PR?

[2022-07-01 22:51] #151 closed

[2022-07-19 07:26] lahdjirayhan commented on #123
I have explored and found that:

The mobile (?) version site used by this package `translate.google.com/m` -- notice the `m` there -- does not give out Latin transliteration/reading.

**The usual website**

![image](https://user-images.githubusercontent.com/52926983/179691503-8c4f289a-c991-45c8-acaa-ea002f5a8ae0.png)

**The mobile/lite website**

![image](https://user-images.githubusercontent.com/

[2022-07-27 15:13] chbridges opened #154 "bug: GoogleTranslator.translate_batch does not circumvent request limit"
* deep_translator version: 1.8.3
* Python version: 3.10.4
* Operating System: macOS 12.5

### Description

deep_translator.exceptions.TooManyRequests: Server Error: You made too many requests to the server. According to google, you are allowed to make 5 requests per second and up to 200k requests per day. You can wait and try again later or you can try the translate_batch function

It appears that

[2022-08-02 10:54] frabba2 opened #155 "It does not translate DataFrames with more than 10k rows"
* deep_translator version: 1.8.0
* Python version: 3.9.12
* Operating System: macOS Monterey version 12.3.1, processor 2.3 GHz Intel Core i5 quad-core. Ram 8gb

### Description, what I did and output

Hi, I have a problem with deep_translator. In particular, in Jupyter Notebook I have a pandas DataFrame composed of 39.863 rows of Tweets that I want to translate in english from different languages.

[2022-08-04 10:42] nidhaloff commented on #123
@lahdjirayhan Thanks for exploring this! According to your finding, this cannot be done in the current implementation. So I will close the issue

[2022-08-04 10:42] #123 closed

[2022-08-10 17:52] Eikosa opened #156 "Detect language via google translate"
Various tools such as google translate can detect the language automatically so I think this feature can be added
![image](https://user-images.githubusercontent.com/20538090/183982293-677b190f-e033-4a63-aaa0-22df310e91df.png)

[2022-08-11 02:31] Beau-xu commented on #103
Hi @johnbumgarner ,
Have you figured out the limitation of Linguee translation?

[2022-08-24 10:01] Rivow opened #157 "ModuleNotFoundError: No module named 'deep_translator'"
* deep_translator version:1.8.5
* Python version: 3.7
* Operating System: Windows

### Description

I have been using this library for weeks with no problem. But suddenly today I get an error ModuleNotFoundError: No module named 'deep_translator' even though yesterday it worked fine does anyone have a solution?

[2022-08-24 10:11] crobledolete commented on #157
I had the same problem this morning. A quick solution for me was to downgrade the version of the package to v1.8.3.

I think this trouble is related to the newest version released (v1.8.5). If you go to its pip documentation (https://pypi.org/project/deep-translator/) you won't see any post or documentation related to this lastest version, which seems a bit strange imo.

[2022-08-24 10:21] Rivow commented on #157
Thanks so much that fixed it. I was struggling to find any info on new version but couldn't find any so I just assumed I did something wrong but thanks so much for the help

[2022-08-24 10:21] #157 closed

[2022-08-24 17:08] jkempinger-khc commented on #157
Is this issue actually resolved/completed?  I still see v1.8.5 on PyPI, even though there's no release newer than v1.8.3 here.

[2022-08-24 18:41] gavingosling commented on #157
I don't believe this is resolved either, however pinning the version to 1.8.3 worked for me.

[2022-09-20 16:49] edisugi1996 opened #158 "Get all supported language - LingueeTranslator"
* deep_translator version: 1.8.3
* Python version: 3.10.1
* Operating System: Windows 10

### Description

Similar to issue #146
The solution in issue #146 is tested work on GoogleTranslator, but not work on LingueeTranslator

### What I Did

[code]

an error rose up:
[code]

[2022-09-20 17:06] edisugi1996 commented on #158
The issue seems to be no default source within LingueeTranslator __init__
[code]
setting source default with empty string ("") might be reasonable (?)

[2022-09-20 18:01] nidhaloff commented on #156
Unfortunately, this feature can't be added because deep-translator does not use the official google api.

[2022-09-20 18:01] #156 closed

[2022-09-20 18:04] nidhaloff commented on #155
It's impossible to say without seeing your code. The error you are showing is not thrown by deep-translator. It is thrown internally by the requests library, as far as I can tell.

Maybe the server breaks the connection after an x amount of requests a.k.a translations. I can't tell for sure. In any case, this has nothing to do with deep-translator itself.

[2022-09-20 18:04] #155 closed

[2022-09-20 19:56] #158 closed

[2022-09-24 02:02] edisugi1996 opened #161 "Blocked because too-many Requests"
* deep_translator version: 1.9.0
* Python version: 3.10.1
* Operating System: Windows 10

### Description

I was testing a dictionary using both googleTranslator (phrase) and lingueeTranslator (word).
![image](https://user-images.githubusercontent.com/68961388/192074982-458d49e5-e6b8-4e15-b64c-51657282d4b7.png)
It was successful at first, however after testing several word (10 or so) lingueeTransl

[2022-09-24 09:21] 0xStryK3R commented on #144
@nidhaloff I am interested in helping build the website/api. Do let me know if there is any way I can contribute!

[2022-09-24 14:17] krati5 commented on #144
Hi @nidhaloff,
I would like to help with building/updating web application or APIs. Please consider me for contribution.

[2022-09-29 00:51] Dani-Google commented on #58
# Hi Nidal
I just tried Deep translator and loved it.
Although I'm new to Github but would love to contribute
Thank you for creating an Amazing tool :)

-Dani

[2022-09-29 00:52] Dani-Google commented on #58
Hi **Nidal**
**I just tried Deep translator and loved it.**
Although I'm new to Github but **would love to contribute**
Thank you for creating an Amazing tool :)

[2022-09-29 00:53] Dani-Google commented on #58
Hi **Nidhal**
I just tried **Deep translator** and loved it.
Although I'm new to Github but **would love to contribute**
**Thank you for creating an Amazing tool :)**

[2022-09-30 14:40] ObedH26 opened #162 "JSONDecodeError"
Hello,
I got this error from the single_detection api after many requests, happened to me a few time before; any idea why?
Thank you

[code]

[2022-09-30 15:06] cherellej opened #163 "GoogleTranslator pauses after a certain number of lines"
* deep_translator version: 1.8.3
* Python version: 3.10.6
* Operating System: MacOS Monterey

### Description

I have been trying to translate a bunch of files containing reviews by country. Translation works for smaller files (less than 1000 rows), however it gets stuck on bigger files. No error is thrown, it just doesn't go past a certain number of rows even if I run it overnight.

### What I Di

[2022-10-11 18:38] rishi-kai21 commented on #58
Hi @nidhaloff I would like to contribute to your project. Please let me know how I can assist you :)

[2022-10-14 20:58] LordUbuntu commented on #58
I'm not sure how I can hep but I would _love_ to contribute, so count me in!

[2022-10-15 08:55] nidhaloff commented on #58
@LordUbuntu @rishi-kai21 @Dani-Google Thanks, please take a look at the issues page and see what you can work on/improve. If you have any specific question, you can ask there.

[2022-10-17 14:05] prof-milki opened #165 "DuckDuckGo backend"
* type: discuss
* class: feature-request
* category: translator
* priority: homeopathic
* deep_translator version: 1.9.0

### Description

So I'm not sure this would be an appropriate service to utilize in D-T.
But DuckDuckGo also has a nifty translation feature. It's effectively a Microsoft Translator instance, with added privacy.
However, it's **not an official API**, and thus requires a bit of

[2022-10-21 18:45] happycoding47 commented on #144
Hi @nidhaloff, I'm a newbie but I'd like to contribute! I can help with website or APIs, or maybe add another translator, like "Baidu translation"(a popular multilingual translation services in China)?

[2022-10-22 12:13] yotama9 opened #167 "MyMemoryTranslator does not return all results even when requested to do so."
* deep_translator version: 1.9.0
* Python version:3.10
* Operating System: Ubuntu

### Description
When I add ``return_all`` to the translation request, I don't get multiple result. For example:

    'segnalazione'

### What I Did

I looked through the source code, I see that in line 77 in the ``mymemory.py`` the function will return the result that is available in ``translation`` regardless if th

[2022-10-29 15:58] nidhaloff commented on #167
Thanks for opening the issue. This is definitely a bug. Line 79 should be just like line 85. If you want, you can create the PR for this issue and I will accept it ;)

[2022-10-29 16:00] nidhaloff commented on #165
@prof-milki Sorry for the late reply. I'm not sure about this, but it definitely looks like something worth investigating. Would you like to investigate and make a PoC to integrate this in deep-translator? If you can open a PR, I would take a look.

[2022-10-29 16:15] nidhaloff commented on #163
@cherellej sorry for the late reply, I was very busy.
It's really hard to tell what went wrong here without knowing what do you want to translate. Normally, if the number of requests exceeded the max, then deep-translator should break and give you a `TooManyRequests` error. In your case, it hangs or did not output as you said, so I'm not really sure what happened.

What I can tell you is that addi

[2022-10-29 16:15] #163 closed

[2022-10-29 16:18] #161 closed

[2022-10-29 21:50] prof-milki commented on #165
Sorry, can't really cope with git. Maybe someone else will take this on. But I think it's all just minor/cosmetic changes, <s>`fetch()`</s>→`translate()`, <s>`BackendUtils`</s>→`BaseTranslator`, <s>`self.params["target"]`</s>→`self.target`, and prettification.

[2022-10-30 17:54] natalie-ayers opened #169 "GoogleTranslator RequestError new issue"
* deep_translator version: 1.9.0
* Python version: 3.10.7
* Operating System: Windows 10 Home, Version 10.0.17763

### Description

I have been using the GoogleTranslator successfully for a few weeks, but 2 days ago it began returning a RequestError. I've tested a few of the other available translators to ensure it was not a larger issue, but it seems to be primarily with the GoogleTranslator. I'v

[2022-11-03 15:13] Vincent-Stragier commented on #169
Hi @natalie-ayers,

I was not able to reproduce this behaviour. Can you provide a full MWE?

[code]

I installed the module from git using pip, but the version in the `__init__.py` file is incorrect.

Regards,
Vincent S.

[2022-11-03 19:18] yotama9 commented on #167
I'm sorry, but my github-foo is virtually 0. Create a PR means?

[2022-11-03 22:38] #169 closed

[2022-11-03 22:42] natalie-ayers commented on #169
Hi Vincent,
Thank you for looking into this! I just re-ran to try to send you more information, but the problem is no longer occurring - nothing has changed on my system's end, so I'm not sure what the cause was, but I appreciate your assistance!

[2022-11-04 14:14] Vincent-Stragier commented on #167
Hi @yotama9,

PR is the abbreviation of Pull requests. First you have to create a fork to be able to edit the source code, and then you can create a pull request with your changes (see: https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/creating-a-pull-request-from-a-fork).

Best,
Vincent S.

[2022-11-04 19:22] nidhaloff commented on #169
@natalie-ayers sorry for the late reply. The error can happen if you had connection/net problems, so I assume that was the issue in your case. This also explains why it started to work again, although you didn't change anything on your system.

@Vincent-Stragier Thanks for providing support!

[2022-11-04 19:24] nidhaloff commented on #167
It's ok I will do the fix myself since I have some time now. Take a look to @Vincent-Stragier 's reply for an answer to your question

[2022-11-04 19:24] #167 closed

[2022-11-20 03:30] wchung42 commented on #58
I'm new to open-source contribution but I would love to help in anyway.